<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1>Teams</h1>

<table class="table">
  <thead>
    <tr>
      <th>Team name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.team_name %></td>
        <td><%= link_to 'Invite', new_team_teaminvite_path(team),class: "btn btn-info" %>
        </td>
        <td><%= link_to '<i class="fas fa-users"></i> Members'.html_safe, team_teaminvites_path(team.id) %></td>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_organization_team_path(team.organization,team) %></td>
        <td><%= link_to '<i class="fa fa-trash-alt"></i>'.html_safe, [team.organization,team], method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_team' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<i class="fas fa-plus"></i> Team'.html_safe, new_organization_team_path %>
</body>
</html>



