<h4 class="text-center">(<%= @teamsmembers.to_a.count %>) Members</h4>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Activisttotal</th>
      <th>Reflectortotal</th>
      <th>Theorist</th>
      <th>Pragmatist</th>
      <th>Activisttotal</th>
      <th>Reflectortotal</th>
      <th>Theorist</th>
      <th>Pragmatist</th>
    </tr>
  </thead>

  <tbody>
    <% @teamsmembers.each do |learningstyle| %>
      <tr>
        <td><%= link_to learningstyle.name, user_learningstyle_path(learningstyle.user_id, learningstyle.learningstyle_id) %></td>
        <td><%= learningstyle.activisttotal %></td>
        <td><%= learningstyle.reflectortotal %></td>
        <td><%= learningstyle.theoristtotal %></td>
        <td><%= learningstyle.pragmatisttotal %></td>
        <td><%= learningstyle.actstatus %></td>
        <td><%= learningstyle.refstatus %></td>
        <td><%= learningstyle.theostatus %></td>
        <td><%= learningstyle.pragstatus %></td>
      </tr>
    <% end %>
  </tbody>
</table>

