<div class="container">
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</div>
<%= simple_form_for(@learningstyle, url: wizard_path) do |form| %>
<div class="row">
<div class="col-md-6">
  <div class="form-group">
  21. In discussions I like to get straight to the point.
    <%= form.input :question21, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    22. I tend to have distant, rather than formal relationships with people at work.
    <%= form.input :question22, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons%>
  </div>

  <div class="form-group">
    23. I thrive on the challenge of tackling something new and different.  
    <%= form.input :question23, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    24. I enjoy fun-loving spontaneous people.
    <%= form.input :question24, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

   <div class="form-group">
    25. I pay meticulous attention to detail before coming to a conclusion.
    <%= form.input :question25, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
   26. I find it difficult to produce ideas on impulse.
    <%= form.input :question26, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    27. I believe in coming to the point immediately.
    <%= form.input :question27, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    28. I am careful not to jump to conclusions too quickly.
    <%= form.input :question28, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    29. I prefer to have as many sources of information as possible - the more data to think over the better.
    <%= form.input :question29, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    30. Flippant people who don't take things seriously enough usually irritate me.
    <%= form.input :question30, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>
</div> 
<div class="col-md-6">
  <div class="form-group">
    31. I listen to other people's point of view before putting my own forward.
    <%= form.input :question31, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    32. I tend to be open about how I'm feeling.
    <%= form.input :question32, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    33. In discussions I enjoy watching the manoeuvrings of the other participants. 
    <%= form.input :question33, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    34. I prefer to respond to events on a spontaneous, flexible basis rather plan things out in advance.
    <%= form.input :question34, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    35. I tend to e attracted to techniques such as network analysis, flow charts, branching programmes, contingency planning etc.
    <%= form.input :question35, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    36. It worries me if I have ti rush out a piece of work to meet a tight deadline.
    <%= form.input :question36, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    37. I tend to judge people's ideas on their practical merits.
    <%= form.input :question37, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    38. Quiet, thoughtful people who want tend to make me feel uneasy.
    <%= form.input :question38, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    39. I often get irritated by people who want to  rush things.
    <%= form.input :question39, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    40. It is more important to enjoy the present momentthan to think about the past or future.
    <%= form.input :question40, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>
</div>

<div class="actions">
    <%= form.submit 'Continue' %>
</div>

<% end %>