  <div class="container">
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>

</div>
  
<%= simple_form_for(@learningstyle, url: wizard_path) do |form| %>
<div class="row">
<div class="col-md-6">
  <div class="form-group">
    41. I think that decisions based on thorough analysis of all the information are sounder than those based on intuition.
    <%= form.input :question41, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    42. I tend to be a perfectionist.
    <%= form.input :question42, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons%>
  </div>

  <div class="form-group">
    43. In discussions I usually produce lots of spontaneous ideas.
    <%= form.input :question43, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    44. In meetings I put forward realistic ideas.
    <%= form.input :question44, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

   <div class="form-group">
    45. More often than not, rules are there to be broken.
    <%= form.input :question45, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    46. I prefer to stand back from a situation and consider all the perspectives.
    <%= form.input :question46, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    47. I can often see inconsistencies and weaknesses in other people’s arguments.
    <%= form.input :question47, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    48. On balance I talk more than I listen.
    <%= form.input :question48, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    49. I can often see better, more practical ways to get things done.
    <%= form.input :question49, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    50. I think written reports should be short and to the point.
    <%= form.input :question50, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>
</div> 
<div class="col-md-6">
  <div class="form-group">
    51. I believe that rational, logical thinking should win the day.
    <%= form.input :question51, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    52. I tend to discuss specific things with people rather than engaging in social discussion. ect.
    <%= form.input :question52, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    53. I like people who approach things realistically rather than theoretically.
    <%= form.input :question53, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    54. In discussions I get impatient with irrelevancies and digressions.
    <%= form.input :question54, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
   55. If I have a report to write I tend to produce lots of drafts before settling on the final version.
    <%= form.input :question55, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    56. I am keen to try things out to see if they work in practice.
    <%= form.input :question56, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    57. I am keen to reach answers via a logical approach.
    <%= form.input :question57, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    58. I enjoy being the one that talks a lot.
    <%= form.input :question58, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    59. In discussions I often find I am realist, keeping people to the point and avoiding wild speculations.
    <%= form.input :question39, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>

  <div class="form-group">
    60. I like to ponder many alternatives before making up my mind.
    <%= form.input :question40, :label => '' , :collection => [['Agree','true'],['Disagree','false']], :as => :radio_buttons, :required => true%>
  </div>
</div>

<div class="actions">
    <%= form.submit 'Continue' %> %>
</div>

<% end %>