<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @learningstyle.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @learningstyle.lname %>
</p>

<p>
  <strong>Question1:</strong>
  <%= @learningstyle.question1 %>
</p>

<p>
  <strong>Question2:</strong>
  <%= @learningstyle.question2 %>
</p>

<p>
  <strong>Question3:</strong>
  <%= @learningstyle.question3 %>
</p>

<p>
  <strong>Question4:</strong>
  <%= @learningstyle.question4 %>
</p>

<p>
  <strong>Question5:</strong>
  <%= @learningstyle.question5 %>
</p>

<p>
  <strong>Question6:</strong>
  <%= @learningstyle.question6 %>
</p>

<p>
  <strong>Question7:</strong>
  <%= @learningstyle.question7 %>
</p>

<p>
  <strong>Question8:</strong>
  <%= @learningstyle.question8 %>
</p>

<p>
  <strong>Question9:</strong>
  <%= @learningstyle.question9 %>
</p>

<p>
  <strong>Question10:</strong>
  <%= @learningstyle.question10 %>
</p>

<p>
  <strong>Question11:</strong>
  <%= @learningstyle.question11 %>
</p>

<p>
  <strong>Question12:</strong>
  <%= @learningstyle.question12 %>
</p>

<p>
  <strong>Question13:</strong>
  <%= @learningstyle.question13 %>
</p>

<p>
  <strong>Question14:</strong>
  <%= @learningstyle.question14 %>
</p>

<p>
  <strong>Question15:</strong>
  <%= @learningstyle.question15 %>
</p>

<p>
  <strong>Question16:</strong>
  <%= @learningstyle.question16 %>
</p>

<p>
  <strong>Question17:</strong>
  <%= @learningstyle.question17 %>
</p>

<p>
  <strong>Question18:</strong>
  <%= @learningstyle.question18 %>
</p>

<p>
  <strong>Question19:</strong>
  <%= @learningstyle.question19 %>
</p>

<p>
  <strong>Question20:</strong>
  <%= @learningstyle.question20 %>
</p>

<p>
  <strong>Question21:</strong>
  <%= @learningstyle.question21 %>
</p>

<p>
  <strong>Question22:</strong>
  <%= @learningstyle.question22 %>
</p>

<p>
  <strong>Question23:</strong>
  <%= @learningstyle.question23 %>
</p>

<p>
  <strong>Question24:</strong>
  <%= @learningstyle.question24 %>
</p>

<p>
  <strong>Question25:</strong>
  <%= @learningstyle.question25 %>
</p>

<p>
  <strong>Question26:</strong>
  <%= @learningstyle.question26 %>
</p>

<p>
  <strong>Question27:</strong>
  <%= @learningstyle.question27 %>
</p>

<p>
  <strong>Question28:</strong>
  <%= @learningstyle.question28 %>
</p>

<p>
  <strong>Question29:</strong>
  <%= @learningstyle.question29 %>
</p>

<p>
  <strong>Question30:</strong>
  <%= @learningstyle.question30 %>
</p>

<p>
  <strong>Question31:</strong>
  <%= @learningstyle.question31 %>
</p>

<p>
  <strong>Question32:</strong>
  <%= @learningstyle.question32 %>
</p>

<p>
  <strong>Question33:</strong>
  <%= @learningstyle.question33 %>
</p>

<p>
  <strong>Question34:</strong>
  <%= @learningstyle.question34 %>
</p>

<p>
  <strong>Question35:</strong>
  <%= @learningstyle.question35 %>
</p>

<p>
  <strong>Question36:</strong>
  <%= @learningstyle.question36 %>
</p>

<p>
  <strong>Question37:</strong>
  <%= @learningstyle.question37 %>
</p>

<p>
  <strong>Question38:</strong>
  <%= @learningstyle.question38 %>
</p>

<p>
  <strong>Question39:</strong>
  <%= @learningstyle.question39 %>
</p>

<p>
  <strong>Question40:</strong>
  <%= @learningstyle.question40 %>
</p>

<p>
  <strong>Question41:</strong>
  <%= @learningstyle.question41 %>
</p>

<p>
  <strong>Question42:</strong>
  <%= @learningstyle.question42 %>
</p>

<p>
  <strong>Question43:</strong>
  <%= @learningstyle.question43 %>
</p>

<p>
  <strong>Question44:</strong>
  <%= @learningstyle.question44 %>
</p>

<p>
  <strong>Question45:</strong>
  <%= @learningstyle.question45 %>
</p>

<p>
  <strong>Question46:</strong>
  <%= @learningstyle.question46 %>
</p>

<p>
  <strong>Question47:</strong>
  <%= @learningstyle.question47 %>
</p>

<p>
  <strong>Question48:</strong>
  <%= @learningstyle.question48 %>
</p>

<p>
  <strong>Question49:</strong>
  <%= @learningstyle.question49 %>
</p>

<p>
  <strong>Question50:</strong>
  <%= @learningstyle.question50 %>
</p>

<p>
  <strong>Question51:</strong>
  <%= @learningstyle.question51 %>
</p>

<p>
  <strong>Question52:</strong>
  <%= @learningstyle.question52 %>
</p>

<p>
  <strong>Question53:</strong>
  <%= @learningstyle.question53 %>
</p>

<p>
  <strong>Question54:</strong>
  <%= @learningstyle.question54 %>
</p>

<p>
  <strong>Question55:</strong>
  <%= @learningstyle.question55 %>
</p>

<p>
  <strong>Question56:</strong>
  <%= @learningstyle.question56 %>
</p>

<p>
  <strong>Question57:</strong>
  <%= @learningstyle.question57 %>
</p>

<p>
  <strong>Question58:</strong>
  <%= @learningstyle.question58 %>
</p>

<p>
  <strong>Question59:</strong>
  <%= @learningstyle.question59 %>
</p>

<p>
  <strong>Question60:</strong>
  <%= @learningstyle.question60 %>
</p>

<p>
  <strong>Question61:</strong>
  <%= @learningstyle.question61 %>
</p>

<p>
  <strong>Question62:</strong>
  <%= @learningstyle.question62 %>
</p>

<p>
  <strong>Question63:</strong>
  <%= @learningstyle.question63 %>
</p>

<p>
  <strong>Question64:</strong>
  <%= @learningstyle.question64 %>
</p>

<p>
  <strong>Question65:</strong>
  <%= @learningstyle.question65 %>
</p>

<p>
  <strong>Question66:</strong>
  <%= @learningstyle.question66 %>
</p>

<p>
  <strong>Question67:</strong>
  <%= @learningstyle.question67 %>
</p>

<p>
  <strong>Question68:</strong>
  <%= @learningstyle.question68 %>
</p>

<p>
  <strong>Question69:</strong>
  <%= @learningstyle.question69 %>
</p>

<p>
  <strong>Question70:</strong>
  <%= @learningstyle.question70 %>
</p>

<p>
  <strong>Question71:</strong>
  <%= @learningstyle.question71 %>
</p>

<p>
  <strong>Question72:</strong>
  <%= @learningstyle.question72 %>
</p>

<p>
  <strong>Question73:</strong>
  <%= @learningstyle.question73 %>
</p>

<p>
  <strong>Question74:</strong>
  <%= @learningstyle.question74 %>
</p>

<p>
  <strong>Question75:</strong>
  <%= @learningstyle.question75 %>
</p>

<p>
  <strong>Question76:</strong>
  <%= @learningstyle.question76 %>
</p>

<p>
  <strong>Question77:</strong>
  <%= @learningstyle.question77 %>
</p>

<p>
  <strong>Question78:</strong>
  <%= @learningstyle.question78 %>
</p>

<p>
  <strong>Question79:</strong>
  <%= @learningstyle.question79 %>
</p>

<p>
  <strong>Question80:</strong>
  <%= @learningstyle.question80 %>
</p>

<p>
  <strong>Activisttotal:</strong>
  <%= @learningstyle.activisttotal %>
</p>

<p>
  <strong>Reflectortotal:</strong>
  <%= @learningstyle.reflectortotal %>
</p>

<p>
  <strong>Theoristtotal:</strong>
  <%= @learningstyle.theoristtotal %>
</p>

<p>
  <strong>Pragmatisttotal:</strong>
  <%= @learningstyle.pragmatisttotal %>
</p>

<p>
  <strong>Actstatus:</strong>
  <%= @learningstyle.actstatus %>
</p>

<p>
  <strong>Refstatus:</strong>
  <%= @learningstyle.refstatus %>
</p>

<p>
  <strong>Theostatus:</strong>
  <%= @learningstyle.theostatus %>
</p>

<p>
  <strong>Pragstatus:</strong>
  <%= @learningstyle.pragstatus %>
</p>

<p>
  <strong>User:</strong>
  <%= @learningstyle.user %>
</p>

<%= link_to 'Edit', edit_learningstyle_path(@learningstyle) %> |
<%= link_to 'Back', learningstyles_path %>
