
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<div class="row">
  <div class="col-md-6">
  <h4 class='text-center'>Learning Styles Questionnaire - Scoring</h4>
      <p><strong>Activisttotal</strong> <%= @learningstyles.activisttotal %></p>
       <p><strong>Reflectortotal</strong> <%= @learningstyles.reflectortotal %></p>
       <p><strong>Theorist</strong> <%= @learningstyles.theoristtotal %></p>
       <p><strong>Pragmatist</strong> <%= @learningstyles.pragmatisttotal %></p>
        <p><strong>Activisttotal</strong> <%= @learningstyles.actstatus %></p>
         <p><strong>Reflectortotal</strong> <%= @learningstyles.refstatus %></p>
        <p><strong>Theorist</strong> <%= @learningstyles.theostatus %></p>
        <p><strong>Pragmatist</strong> <%= @learningstyles.pragstatus %></p>  

</div>
<div class="col-md-6">
  <h4 class='text-center'>Learning Styles Questionnaire - Scoring</h4>
<div id="container" style="height:100%; width:100%; margin: 0;"></div>
</div></div>

<script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
option = true;
option = {
    tooltip: {
      trigger: 'axis'
    },
    xAxis: [{
      name: 'Reflector',
      min: -20,
      splitNumber: 10,
      max:20
    },
    {
      name: 'Pragmatist',
      nameLocation: 'start', 
    }],
    yAxis: [{
      name: 'Activist',
      min: -20,
      splitNumber: 10,
      max:20
    },
    {
      name: 'Theorist',
      nameLocation: 'start',
    }
    ],
    series: [{
        data: [
              [0, <%= raw @activist[0].to_i %>],
              [<%= raw @reflector[0].to_i %>, 0],
              [0, -<%= raw @theorist[0].to_i %>],
              [-<%= raw @pragmatist[0].to_i %>, 0],
              [0, <%= raw @activist[0].to_i %>]
              ],
        type: 'line',
    }]
};
;
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
</script>
</body>
</html>
