<%= form_for @invitation do |form| %>
  <% if invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
      <% invitation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sender_id %>
    <%= form.number_field :sender_id, id: :invitation_sender_id %>
  </div>

  <div class="field">
    <%= form.label :recipient_email %>
    <%= form.text_field :recipient_email, id: :invitation_recipient_email %>
  </div>

  <div class="field">
    <%= form.label :token %>
    <%= form.text_field :token, id: :invitation_token %>
  </div>

  <div class="field">
    <%= form.label :sent_at %>
    <%= form.datetime_select :sent_at, id: :invitation_sent_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
