<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<table>
  <thead>
    <tr>
      <th>Org name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.org_name %></td>
        <td><%= organization.user_id %></td>
        <td><%= link_to 'Show', user_organization_path(organization.user_id, organization.id) %></td>
        <td><%= link_to 'Edit', edit_user_organization_path(organization.user_id, organization.id) %></td>
        <td><%= link_to 'Destroy', (organization.user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_user_organization_path %>
